<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlbc.CyUpErp.mapper.PrescriptionMapper">

    <!-- 更新 UpErpStatus 状态 -->
    <update id="updateUpErpStatus">
        UPDATE psp_normal_prescription
        SET UpErpStatus = #{UpErpStatus}
        WHERE FlowNo = #{flowNo}
    </update>

    <update id="batchUpdateFlowNo">
        UPDATE psp_normal_prescription
        SET flowNo = #{flowNo}
        WHERE pspCode IN
        <foreach collection="pspCodes" item="pspCode" open="(" separator="," close=")">
            #{pspCode}
        </foreach>
        and UpErpStatus=0
    </update>

    <update id="updateInvalidIn168Hours">
        UPDATE psp_normal_prescription
        SET UpErpStatus = 0
        WHERE status = 11
          AND createdOn BETWEEN #{startTime} AND #{endTime}
          AND UpErpStatus = 2
    </update>
    <update id="updateUpErpStatusConfirm">
        UPDATE psp_normal_prescription
        SET UpErpStatus =
                CASE
                    WHEN STATUS = 1 THEN 2
                    WHEN STATUS = 11 THEN 3
                    ELSE UpErpStatus
                    END
        WHERE FlowNo = #{flowNo}
    </update>

    <select id="selectPrescriptionDetailByFlowNo" resultType="com.zlbc.CyUpErp.entity.PrescriptionDetailDTO">
        SELECT CASE
                   WHEN pap_dv.match_pap_dv AND dv_drug.DrugCode IS NOT NULL
                       THEN COALESCE(NULLIF(dv_drug.DrugCode, ''), 'WDYYP')
                   ELSE COALESCE(NULLIF(c.DrugCode, ''), 'WDYYP')
                   END                               AS "DrugCode",
               CASE
                   WHEN pap_dv.match_pap_dv THEN REPLACE(REPLACE(pap_dv.drugName, 'jc', '(集采)'), 'JC', '(集采)')
                   ELSE REPLACE(REPLACE(b.ClientDrugName, 'jc', '(集采)'), 'JC', '(集采)')
                   END                               AS "DrugName",
               b.DrugUnit                            AS "DrugSpecification",
               CASE
                   WHEN pap_dv.match_pap_dv AND dv_drug.DrugCode IS NOT NULL THEN dv_drug.drugPlace
                   ELSE c.drugPlace
                   END                               AS "DrugPlace",
               CASE
                   WHEN pap_dv.match_pap_dv AND dv_drug.DrugCode IS NOT NULL THEN dv_drug.DrugFactory
                   ELSE c.DrugFactory
                   END                               AS "DrugFactory",
               CASE
                   WHEN pap_dv.match_pap_dv THEN a.PspNum * pap_dv.drugDose * b.DrugDose
                   ELSE a.PspNum * b.DrugDose
                   END                               AS "DrugConsumption",
               DATE_FORMAT(b.CreatedOn, '%Y%m%d')    AS "DrugConsumptionDate",
               a.ClientCode                          AS "HospitalCode",
               CONCAT('CY', SUBSTRING(a.Pspcode, 3)) AS "PspCode",
               a.PspType                             AS "PspType",
               d.PspDrugAmount                       AS "PspDrugAmount",
               a.Patient                             AS "PatientName",
               CASE a.STATUS
                   WHEN 11 THEN 1
                   WHEN 1 THEN 0
                   END                               AS "ConsumptionFlg"
        FROM (SELECT id,
                     ClientCode,
                     PspNum,
                     Pspcode,
                     PspType,
                     Patient,
                     STATUS,
                     flowNo
              FROM psp_normal_prescription
              WHERE flowNo = #{flowNo}
                AND UpErpStatus = 0) a
                 INNER JOIN psp_agreement_prescription_drug b
                            ON a.id = b.pid
                 LEFT JOIN mdm_drug_info c
                           ON c.id = b.drugid
                 LEFT JOIN (SELECT pap.id,
                                   pap.clientcode,
                                   pap.NAME,
                                   dv.PID,
                                   dv.drugId,
                                   dv.drugName,
                                   dv.drugDose,
                                   (pap.id IS NOT NULL AND dv.PID IS NOT NULL) AS match_pap_dv
                            FROM psp_agreement_prescription pap
                                     LEFT JOIN psp_drug_info_view dv
                                               ON pap.id = dv.PID) pap_dv
                           ON a.ClientCode = pap_dv.clientcode
                               AND pap_dv.NAME = b.ClientDrugName
                 LEFT JOIN mdm_drug_info dv_drug
                           ON pap_dv.drugId = dv_drug.id
                 INNER JOIN (SELECT pid, COUNT(*) AS PspDrugAmount
                             FROM psp_agreement_prescription_drug
                             WHERE pid IN (SELECT id
                                           FROM psp_normal_prescription
                                           WHERE flowNo = #{flowNo}
                                             AND UpErpStatus = 0)
                             GROUP BY pid) d ON d.pid = a.id
        WHERE b.ClientDrugName NOT LIKE '%儿童防感抗敏饮（院内颗粒）%'
        GROUP BY a.id,
                 b.id,
                 c.id,
                 pap_dv.id,
                 dv_drug.id,
                 b.CreatedOn,
                 a.pspcode,
                 a.Patient,
                 a.STATUS;
    </select>

    <select id="selectTop100PendingPrescriptionPspCodes" resultType="java.lang.String">
        SELECT pspCode, clientCode
        FROM psp_normal_prescription
        WHERE UpErpStatus = 0
          AND DATE (CreatedOn) >='2026-05-16'
        ORDER BY CreatedOn ASC
            LIMIT 100
    </select>

    <select id="selectFlowNoByPspCodes" resultType="java.lang.String" parameterType="java.util.List">
        SELECT flowNo
        FROM psp_normal_prescription
        WHERE pspcode IN
        <foreach item="code" index="index" collection="pspCodes" open="(" separator="," close=")">
            #{code}
        </foreach>
        AND flowNo IS NOT NULL
        LIMIT 1
    </select>
</mapper>
