<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlbc.CyUpErp.mapper.PrescriptionMapper">

    <!-- 更新 UpErpStatus 状态 -->
    <update id="updateUpErpStatus">
        UPDATE psp_normal_prescription
        SET UpErpStatus = #{UpErpStatus}
        WHERE FlowNo = #{flowNo}
    </update>

    <update id="batchUpdateFlowNo">
        UPDATE psp_normal_prescription
        SET flowNo = #{flowNo}
        WHERE pspCode IN
        <foreach collection="pspCodes" item="pspCode" open="(" separator="," close=")">
            #{pspCode}
        </foreach>
        and UpErpStatus=0
    </update>

    <update id="updateInvalidIn48Hours">
        UPDATE psp_normal_prescription
        SET UpErpStatus = 0
        WHERE status = 11
          AND createdOn BETWEEN #{startTime} AND #{endTime}
          AND UpErpStatus = 2
    </update>
    <update id="updateUpErpStatusConfirm">
        UPDATE psp_normal_prescription
        SET UpErpStatus =
                CASE
                    WHEN STATUS = 1 THEN 2
                    WHEN STATUS = 11 THEN 3
                    ELSE UpErpStatus
                    END
        WHERE FlowNo = #{flowNo}
    </update>

    <select id="selectPrescriptionDetailByFlowNo" resultType="com.zlbc.CyUpErp.entity.PrescriptionDetailDTO">
        SELECT
            COALESCE(NULLIF(c.DrugCode, ''), 'WDYYP') AS "DrugCode",
            b.ClientDrugName AS "DrugName",
            b.DrugUnit AS "DrugSpecification",
            c.drugPlace AS "DrugPlace",
            c.DrugFactory AS "DrugFactory",
            a.PspNum * b.DrugDose AS "DrugConsumption",
            DATE_FORMAT( b.CreatedOn, '%Y%m%d' ) AS "DrugConsumptionDate",
            a.ClientCode AS "HospitalCode",
            CONCAT(
                    'CY',
                    SUBSTRING( a.Pspcode, 3 )) AS "PspCode",
            a.PspType AS "PspType",
            d.PspDrugAmount AS "PspDrugAmount",
            a.Patient AS "PatientName",
            CASE

                WHEN a.STATUS = 11 THEN
                    1
                WHEN a.STATUS = 1 THEN
                    0
                END AS "ConsumptionFlg"
        FROM
            psp_normal_prescription a
                JOIN psp_agreement_prescription_drug b ON a.id = b.pid
                LEFT JOIN mdm_drug_info c ON c.id = b.drugid -- 改为 LEFT JOIN，确保即使没有匹配的 c 记录也能返回 b 的数据
                JOIN ( SELECT pid, COUNT(*) AS PspDrugAmount FROM psp_agreement_prescription_drug GROUP BY pid ) d ON d.pid = a.id
        WHERE
            a.flowNo = #{flowNo} AND a.UpErpStatus=0
        GROUP BY
            c.DrugCode,
            b.ClientDrugName,
            b.DrugUnit,
            c.drugPlace,
            c.DrugFactory,
            a.PspNum,
            b.DrugDose,
            b.CreatedOn,
            a.ClientCode,
            a.pspcode,
            a.PspType,
            d.PspDrugAmount,
            a.Patient,
            a.STATUS;
    </select>

    <select id="selectTop100PendingPrescriptionPspCodes" resultType="java.lang.String">
        SELECT pspCode, clientCode
        FROM psp_normal_prescription
        WHERE UpErpStatus = 0
          AND DATE (CreatedOn) >='2025-09-16'
        ORDER BY CreatedOn ASC
            LIMIT 100
    </select>

    <select id="selectFlowNoByPspCodes" resultType="java.lang.String" parameterType="java.util.List">
        SELECT flowNo
        FROM psp_normal_prescription
        WHERE pspcode IN
        <foreach item="code" index="index" collection="pspCodes" open="(" separator="," close=")">
            #{code}
        </foreach>
        AND flowNo IS NOT NULL
        LIMIT 1
    </select>
</mapper>
